@using RuneGlossary.Api

<div class="tooltip-wrapper">
    <div class="tooltip-content">
        <span class="name tooltip">@Model.Name</span>
        <span class="statistic">Helmet: @Model.InHelmet</span>
        <span class="statistic">Body Armor: @Model.InBodyArmor</span>
        <span class="statistic">Shield: @Model.InShield</span>
        <span class="statistic">Weapon: @Model.InWeapon</span>
    </div>
    <div class="rune @IsAvailable()">
        <img src="assets/runes/@(Model.Name.ToLower()).webp"/>
        <span class="name">@Model.Name</span>
    </div>
</div>

@code {
    [Parameter]
    public int? CharacterLevel { get; set; } = null!;

    [Parameter]
    public Api.Rune Model { get; set; } = null!;

    public string IsAvailable()
    {
        Console.WriteLine($"IsAvailable: {CharacterLevel} < {Model.Level}");
        if (Model.Level <= CharacterLevel) return string.Empty;
        return "unavailable";
    }
}
